<div class = "poo">
<div id = "landing" class = "portfolioSection">
    <div id = "jumboname" class = "jumotron jumbotron-fluid text-center" style = "height: 100%; vertical-align: middle" >
        <h1  class=" display-4" style = "color: white; position:relative; top:40%; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Zachary Kucera
            <hr style="width: 30%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
        </h1>
        <h2 class=" display-8" style = "color: white; position:relative; top:40%; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            Software Engineering Graduate
        </h2>

    </div>    
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-custom justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" (click)="scrollToElement(about)" style = "cursor:pointer">ABOUT ME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement(skills)" style = "cursor:pointer">SKILLS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement(education)" style = "cursor:pointer">EDUCATION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="scrollToElement(projects)" style = "cursor:pointer">PROJECTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="scrollToElement(experience)" style = "cursor:pointer">EXPERIENCE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " (click)="scrollToElement(contact)" style = "cursor:pointer">CONTACT</a>
        </li>
    </ul>
</nav>

    <div #about id = "aboutMe" class = "portfolioSection">
        <h1 class = "headers">About Me</h1>
        <hr style="width: 15%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
    </div>
    
    <div #skills id = "skills" class = "portfolioSection">
        <h1 class = "headers">Skills</h1>
        <hr style="width: 15%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
    </div>
    
    <div #education id = "education" class = "portfolioSection">
        <h1 class = "headers">Education</h1>
        <hr style="width: 15%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
    </div>
    
    <div #projects id = "projects" class = "portfolioSection">
        <h1 class = "headers">Projects</h1>
        <hr style="width: 15%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
    </div>
    
    <div #experience id = "experience" class = "portfolioSection">
        <h1 class = "headers">Experience</h1>
        <hr style="width: 15%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
    </div>
    
    <div #contact id = "contact" class = "portfolioSection">
        <form id ="contactForm">
            <h1 style = "text-align: center; color: white">Drop a Line!</h1>
            <hr style="width: 30%; height:4px;border:none;color:#5D9AE3;background-color:#5D9AE3;" />
            <h6 style = "text-align: center; color: white">
                Lets have a chat! 
            </h6>
            <h6 style = "text-align: center; color: white">
                
                Email me at zkucera14@gmail.com! <b>Contact form functionality coming soon!</b>
            </h6>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder = "Your Message!" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary" style = "position:relative; left:50% ; margin-left: -18px">Send</button>
        </form>
    </div>
</div>


