.portfolioSection{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    padding-top: 56px;
    scroll-snap-align: start;

}
.poo{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

#landing{
    background-color: #061c44;
    height: -webkit-calc(100vh - 56px); 
}

#aboutMe{
    background-color: white;
}

#skills{
    background-color: #E8E8E8;
}
#education{
    background-color: white;
}


#projects{
    background-color: #E8E8E8;
}

#experience{
    background-color: white;
}

#contact{
    background-color: #061c44;
}

#portfolioNav {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#portfolioNav .navbar-text .navar-link{
    color: #5D9AE3
}

.headers{
    margin-top: 2%;
    text-align: center;
}

#contactForm{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 1%;
    align-content: center
}
.navbar-custom {
    background-color: #061C44;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #061C44;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #5D9AE3;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #D9E5D6;
}