<h1 style = "padding-top: 56px" #top>Altum Tempus</h1>



<div #techused style="position: relative; top: -56px; left: 0" ></div>
<h2>
    Technologies Used
</h2>


<div #code style="position: relative; top: -56px; left: 0" ></div>
<h2>
    Code Snippets
</h2>

<div #uml style="position: relative; top: -56px; left: 0" ></div>

<h2>
    UML Diagrams
</h2>

<div id = "sidebar">
    <button class = "sidebarbutton" (click)="scrollToElement(techused)">tech</button>
    <br>
    <button class = "sidebarbutton" (click)="scrollToElement(code)">code</button>
    <br>
    <button class = "sidebarbutton" (click)="scrollToElement(uml)">uml</button>
</div>  



